@media (min-width: 992px)
  .button
    &--primary
      &:hover
        background-color: $primary
        color: #fff
    &--secondary
      &:hover
        background-color: #fff
        color: $primary
  a
    &:hover
      color: $primary
  .card
    &__button
      &:hover
        background-color: $primary
  .recomend
    &__more
      &:hover
        background-color: $secondary
        color: #fff
  .heart
    cursor: pointer
  .best
    &__link
      &:hover
        color: $secondary
@media (max-width: 1200px)
  .container
    max-width: 960px
  .book
    &__item
      margin-right: 10px
    &__img
      width: 450px
  .recomend
    &-wrapper
      flex-wrap: wrap
    &__block
      max-width: 100%
      margin-right: 0
    &__more
      width: 92%
      display: block
      margin-left: auto
      margin-right: auto
      margin-bottom: 22px
  .cards
    justify-content: center
  .card
    max-width: 409px
    margin-right: 32px
  .best
    max-width: 91%
    margin-left: auto
    margin-right: auto
    justify-content: center
    &__hr
      width: 100%
    &__card
      max-width: 400px
      &:nth-child(2n)
        margin-right: 0
  .slide
    &__img
      margin-bottom: 17px
    &__title
      font-size: 19px
    &__subtitle
      font-size: 13px
  .genres
    &-slide
      max-width: 205px
    &-slider
      &__slide
        max-width: 231px
        margin-right: 10px
      &__button
        &--next
          right: 7px
  .work
    &__line
      min-width: 883px
@media (max-width: 992px)
  .container
    max-width: 700px
  .book
    padding-top: 48px
    &-wrapper
      flex-direction: column
    &__item
      &--top
        order: -1
        display: flex
        width: 100%
    &__img
      width: 488px
      margin-bottom: 20px
    &-title
      font-size: 40px
  .card
    max-width: 345px
    margin-right: 5px
    &__photo
      margin-right: 10px
  .recomend
    &__more
      width: 100%
  .best
    max-width: 700px
    &__card
      max-width: 312px
  .slider__position
    height: 500px
    width: 100%
  .genres
    &-slider
      max-height: 500px
      &__wrapper
        align-items: center
        align-content: center
    &-slide
      width: 500px
  .slide
    &__img
      margin-top: 15px
  .frame
    &-item
      &--last
        display: none
  .author
    &__title
      font-size: 42px
    &__text
      margin-right: 0
  .work
    &__line
      min-width: 0
      max-width: 250px
      flex-wrap: wrap
      margin-right: 0
      &--top
        display: none
    &__img
      margin-bottom: 25px
      &--netflix
        order: -2
      &--airbnb
        order: 1
      &--slack
        order: -3
      &--uber
        order: 2
      &--fitbit
        order: -1
      &--google
        order: 0
  .netflix
    margin: 0
  .airbnb
    margin: 0
  .slack
    margin: 0
    margin-left: -11px
  .uber
    margin: 0

  .fibit
    margin: 0

  .google
    margin: 0

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .header
    &__item
      &--left
        display: none
    &-menu
      &__button
        display: flex
        justify-content: space-between
        flex-direction: column
  .book
    padding-bottom: 21px
    &__item
      width: 100%
      &--top
        order: -1
        margin-bottom: 0
      &--bottom
        margin-bottom: 30px
        margin-right: 0
    &__img
      width: 100%
    &__buttons
      &-group
        margin-bottom: 36px
        display: flex
        flex-direction: column
        align-items: center
    &__button
      font-size: 16px
      line-height: 22px
      margin-right: 0
      min-width: 176px
      padding: 9px 29px
      &--secondary
        padding: 9px 20px
        margin-bottom: 15px
  .recomend
    &-wrapper
      justify-content: center
    &__title
      text-align: center
    &__more
      padding: 14px 61px
  .card
    max-width: 417px
    margin-right: 0
    &:not(:nth-child(1))
      display: none
    &__photo
      margin-right: 15px
  .best
    max-width: 74%
  .frame
    &-item
      width: 45%
    &--secondary
      width: 100%
  .author
    &__title
      margin-bottom: 10px
    &__text
      text-align: center
    &-wrapper
      flex-direction: column
      align-items: center
@media (max-width: 576px)
  .container
    width: 87%
    &--author
      min-width: 300px
  .header
    padding: 18px 0
  .book
    padding-top: 33px
    padding-bottom: 36px
    &__img
      width: 280px
      height: 333px
    &-wrapper
      text-align: center
    &-title
      font-size: 32px
      line-height: 40px
      margin-bottom: 24px
      margin-right: -7px
    &__description
      font-size: 16px
      line-height: 23px
      margin-bottom: 15px
      margin-right: -7px
    &__author
      font-size: 16px
      line-height: 24px
      margin-bottom: 32px
      margin-right: -7px
    &__item
      &--top
        order: 2
        justify-content: center
      &--bottom
        margin-bottom: -2px
    &__button
      padding: 9px 16px
      border-radius: 10px
      &--secondary
        margin-bottom: 11px
  .best
    padding: 27px 24px 26px 24px
    max-width: 600px
    margin-left: 0
    margin-right: 0
    justify-content: start
    &__book
      &-photo
        margin-right: 14px
        width: 95px
        height: 142px
    &__img
      width: 95px
      height: 142px
    &__card
      margin-bottom: 36px
      margin-left: -10px
  .recomend
    &__more
      font-size: 14px
      margin-bottom: 54px
    &__title
      font-size: 28px
      line-height: 36px
      margin-left: 10px
      margin-bottom: 52px
      &--small
        margin-bottom: 36px
  .card
    margin-top: 20px
    position: relative
    padding-top: 137px
    flex-direction: column
    align-items: center
    padding-left: 26px
    padding-right: 17px
    padding-bottom: 29px
    margin-bottom: 0
    &__genre
      font-size: 14px
      line-height: 20px
      margin-bottom: 16px
    &__info
      display: flex
      flex-direction: column
      align-items: center
    &__photo
      position: absolute
      top: -26px
      right: 35%
      margin-right: 0
      width: 81px
      height: 139px
    &__title
      font-size: 20px
      line-height: 24px
      margin-bottom: 12px
      margin-top: -5px
      &--small
        font-size: 15px
        line-height: 24px
        margin-top: 5px
        margin-bottom: 14px
        width: 110px
    &__price
      margin-right: 10px
      font-size: 16px
      line-height: 20px
      margin-bottom: 20px
      &--small
        font-size: 20px
        margin-bottom: 16px
    &__button
      padding: 7px 27px
      margin-left: 3px
      margin-right: 10px
      &-group
        max-width: none
      &--small
        padding: 7px 22px
        margin-left: 0
        margin-right: 13px
  .heart
    margin-left: 10px
  .author
    padding-bottom: 44px
    &-wrapper
      margin-bottom: 35px
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-left: 25px
      margin-bottom: 25px
    &__text
      font-size: 18px
      line-height: 25px
      margin-left: 26px
  .frame
    &-svg
      width: 14px
      height: 10px
    &--main
      height: 210px
      margin-bottom: 18px
    &--secondary
      height: 138px
      margin-bottom: 12px
    &__title
      text-align: center
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 20px
      text-align: center
      letter-spacing: 0.2px
      margin-left: 0
      margin-bottom: 7px
    &__info
      flex-direction: column
      align-items: center
    &__sub
      margin-bottom: 16px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 20px
      text-align: center
      margin-bottom: 6px
    &-item
      &--first
        margin-left: 10px
  .work
    padding-top: 32px
    padding-bottom: 38px
    &__img
      margin-bottom: 19px
    &__title
      margin-top: 0
      margin-bottom: 23px
  .slack
    margin-left: 10px
    height: 30px
  .netflix
    height: 24px
    margin-right: 9px
  .google
    height: 30px
    margin-right: 9px
  .fitbit
    margin-left: 18px
    height: 24px
  .airbnb
    margin-left: 17px
    height: 28px
  .uber
    height: 20px
    margin-right: 10px
