@media (min-width: 992px)
  .button
    &--primary
      -moz-transition: background-color 0.2s 0.1s ease
      -o-transition: background-color 0.2s 0.1s ease
      -webkit-transition: background-color 0.2s 0.1s ease
      -moz-transition: color 0.2s 0.1s ease
      -o-transition: color 0.2s 0.1s ease
      -webkit-transition: color 0.2s 0.1s ease
      &:hover
        background-color: $primary
        color: #fff
    &--secondary
      -moz-transition: background-color 0.2s 0.1s ease
      -o-transition: background-color 0.2s 0.1s ease
      -webkit-transition: background-color 0.2s 0.1s ease
      -moz-transition: color 0.2s 0.1s ease
      -o-transition: color 0.2s 0.1s ease
      -webkit-transition: color 0.2s 0.1s ease
      &:hover
        background-color: #fff
        color: $primary
  a
    -moz-transition: background-color 0.2s 0.1s ease
    -o-transition: background-color 0.2s 0.1s ease
    -webkit-transition: background-color 0.2s 0.1s ease
    &:hover
      color: $primary
  .card
    &-button
      -moz-transition: background-color 0.2s 0.1s ease
      -o-transition: background-color 0.2s 0.1s ease
      -webkit-transition: background-color 0.2s 0.1s ease
      &:hover
        background-color: $primary
  .recomend
    &__more
      -moz-transition: background-color 0.2s 0.1s ease
      -o-transition: background-color 0.2s 0.1s ease
      -webkit-transition: background-color 0.2s 0.1s ease
      -moz-transition: color 0.2s 0.1s ease
      -o-transition: color 0.2s 0.1s ease
      -webkit-transition: color 0.2s 0.1s ease
      &:hover
        background-color: $secondary
        color: #fff
  .heart
    cursor: pointer
  .frame
    &-svg
      cursor: pointer
  .best
    &__link
      -moz-transition: color 0.2s 0.1s ease
      -o-transition: color 0.2s 0.1s ease
      -webkit-transition: color 0.2s 0.1s ease
      &:hover
        color: $secondary
  .footer
    &-social
      &__svg
        &:hover
          fill: $primary
  .contact
    &__button
      cursor: pointer
      -moz-transition: background-color 0.2s 0.1s ease
      -o-transition: background-color 0.2s 0.1s ease
      -webkit-transition: background-color 0.2s 0.1s ease
      &:hover
        background-color: #FF5733
  .video
    &-play
      cursor: pointer
  .blog
    &-secondary
      &__link
        &:hover
          color: red
  .modal
    &__button
      -moz-transition: background-color 0.2s 0.1s ease
      -o-transition: background-color 0.2s 0.1s ease
      -webkit-transition: background-color 0.2s 0.1s ease
      &:hover
        background-color: $yel
@media (min-width: 1201px)
  .modal
    &__dialog
      padding-top: 32px
    &__title
      margin-bottom: -1px
    &__info
      margin-top: 32px
@media (max-width: 1200px)
  .container
    max-width: 960px
  .book
    &__item
      margin-right: 10px
    &__img
      width: 450px
  .recomend
    &-wrapper
      flex-wrap: wrap
    &__block
      max-width: 100%
      margin-right: 0
    &__more
      width: 92%
      display: block
      margin-left: auto
      margin-right: auto
      margin-bottom: 22px
  .cards
    justify-content: center
  .card
    max-width: 409px
    margin-right: 32px
  .best
    max-width: 91%
    margin-left: auto
    margin-right: auto
    justify-content: center
    &__hr
      width: 100%
    &__card
      max-width: 400px
      &:nth-child(2n)
        margin-right: 0
  .slide
    &__img
      margin-bottom: 17px
    &__title
      font-size: 19px
    &__subtitle
      font-size: 13px
  .genres
    &-slide
      max-width: 205px
    &-slider
      &__slide
        max-width: 231px
        margin-right: 10px
      &-button
        &-next
          right: 7px
    &-swiper
      &__button
        &_next
          right: -16px
        &_prev
          left: -17px
  .work
    &__line
      min-width: 883px
  .blog
    &-secondary
      &__img
        width: 205px
      &__photo
        margin-right: 5px
    &-main
      &__img
        width: 478px
  .contact
    &__input
      width: 217px
    &__form
      &_item
        flex-wrap: wrap
  .genres
    &-slide
      min-height: 280px
      padding-right: 5px
      padding-left: 5px
@media (max-width: 992px)
  .container
    max-width: 700px
  .book
    padding-top: 48px
    &-wrapper
      flex-direction: column
    &-item
      &--top
        justify-content: center
        order: -1
        display: flex
        width: 100%
    &__img
      width: 488px
      margin-bottom: 20px
    &-title
      font-size: 40px
  .card
    max-width: 345px
    margin-right: 5px
    &__photo
      margin-right: 10px
  .recomend
    &__more
      width: 100%
  .best
    max-width: 700px
    &__card
      max-width: 312px
  .slider__position
    height: 500px
    width: 100%
  .genres
    &-slider
      max-height: 500px
      &__wrapper
        align-items: center
        align-content: center
    &-slide
      width: 500px
      min-height: 208px
      padding-right: 0
      padding-left: 0
  .slide
    &__img
      margin-top: 15px
  .frame
    &--secondary
      width: 100%
    &-item
      &--last
        display: none
      &--first
        margin-right: 25px
        width: 50%
      &--center
        width: 50%

  .author
    &__title
      font-size: 42px
    &__text
      margin-right: 0
  .work
    &__line
      min-width: 0
      max-width: 250px
      flex-wrap: wrap
      margin-right: 0
      &--top
        display: none
    &__img
      margin-bottom: 25px
      &--netflix
        order: -2
      &--airbnb
        order: 1
      &--slack
        order: -3
      &--uber
        order: 2
      &--fitbit
        order: -1
      &--google
        order: 0
  .netflix
    margin: 0
  .airbnb
    margin: 0
  .slack
    margin: 0
    margin-left: -11px
  .uber
    margin: 0

  .fibit
    margin: 0

  .google
    margin: 0
  .blog
    &-wrapper
      flex-direction: column
    &-secondary
      align-items: center
      &__img
        width: 205px
      &__photo
        margin-right: 20px
    &-main
      width: 100%
      margin-right: auto
      margin-left: auto
      margin-bottom: 20px
      &__photo
        width: 100%
      &__img
        width: 100%
  .contact
    &-wrapper
      padding-left: 13px
      padding-right: 13px
      padding-bottom: 63px
    &__title
      font-size: 28px
      line-height: 36px
      letter-spacing: 0.2px
    &__form
      min-width: 266px
      padding-right: 4px
      padding-left: 4px
      padding-top: 4px
      padding-bottom: 4px
      flex-wrap: wrap
    &__button
      width: 100%
  .footer
    &-wrapper
      flex-wrap: wrap
    &__main
      &-item
        order: 2
        margin-top: 30px
  .genres
    &__icon
      margin-top: 27px
      margin-bottom: 27px
    &-slide
      min-height: 182px
      &__title
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 8px
      &__subtitle
        font-size: 12px
        line-height: 20px
        text-align: center
    &-swiper
      &__wrapper

        max-height: 500px
  .uncommen
    &-swiper
      &-button
        &-prev
          left: 76.3%
  .erorr
    &-lable
      bottom: 15%
      left: 56%
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .header
    &--fixed
      background-color: #fff
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 99999
    &__item
      &--left
        display: none
      &--active
        display: flex
        position: fixed
        bottom: 0
        left: 0
        right: 0
        top: 103px
        background-color: #fff
        flex-direction: column
    &__menu
      &-button
        display: flex
        justify-content: space-between
        flex-direction: column
    &-nav
      display: flex
      flex-direction: column
      align-items: center
      margin-right: 0
      &__item
        margin-right: 0
        margin-bottom: 20px
  .book
    padding-top: 120px
    padding-bottom: 21px
    &__item
      width: 100%
      &--bottom
        margin-bottom: 30px
        margin-right: 0
    &-item
      &--top
        order: -1
        margin-bottom: 0
    &__img
      width: 100%
    &__buttons
      &-group
        margin-bottom: 36px
        display: flex
        flex-direction: column
        align-items: center
    &__button
      font-size: 16px
      line-height: 22px
      margin-right: 0
      min-width: 176px
      padding: 9px 29px
      &--secondary
        padding: 9px 20px
        margin-bottom: 15px
  .recomend
    &-wrapper
      justify-content: center
    &__title
      text-align: center
    &__more
      padding: 14px 61px
  .card
    max-width: 417px
    margin-right: 0
    &:not(:nth-child(1))
      display: none
    &__photo
      margin-right: 15px
  .best
    max-width: 74%
  .frame
    &-item
      width: 50%
    &--secondary
      width: 100%
  .author
    &__title
      margin-bottom: 10px
    &__text
      text-align: center
    &-wrapper
      flex-direction: column
      align-items: center
  .contact
    background-image: url(../img/background.jpg)
    background-position: center
    background-repeat: no-repeat
    object-fit: cover
    &-wrapper
      flex-direction: column
  .footer
    &-bottom
      display: none
    &-wrapper
      margin-bottom: 0
      justify-content: start
    &__main
      &-item
        display: flex
        flex-direction: column
        margin-left: auto
        margin-right: auto
        align-items: center
        margin-top: 0
      &-text
        text-align: center
  .more
    margin-right: 0
  .slider-wrapper
    max-width: 471px
    margin-right: auto
    margin-left: auto
  .genres
    &__icon
      margin-top: 27px
      margin-bottom: 16px
    &-slide
      min-height: 182px
      &__title
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 8px
      &__subtitle
        font-size: 12px
        line-height: 20px
        text-align: center
    &-swiper
      &__wrapper
        max-height: 500px
  .swiper
    &-slide
      &--un
        height: 100px
  .swiper
    &-slide
      &--un
        width: 206px
  .uncommen
    &-swiper
      width: 206px
  .erorr
    &-lable
      bottom: 13%
      left: 29%

@media (max-width: 576px)
  .container
    width: 87%
    &--author
      min-width: 300px
    &--genres
      width: 90%
  .header
    padding: 18px 0
    &__item
      &--active
        top: 66px
  .book
    padding-top: 99px
    padding-bottom: 36px
    &__img
      width: 280px
      height: 333px
    &-wrapper
      text-align: center
    &-title
      font-size: 32px
      line-height: 40px
      margin-bottom: 24px
      margin-right: -7px
    &__description
      font-size: 16px
      line-height: 23px
      margin-bottom: 15px
      margin-right: -7px
    &__author
      font-size: 16px
      line-height: 24px
      margin-bottom: 32px
      margin-right: -7px
    &__item
      &--bottom
        margin-bottom: -2px
    &-item
      &--top
        order: 2
        justify-content: center
    &__button
      padding: 9px 16px
      border-radius: 10px
      &--secondary
        margin-bottom: 11px
  .best
    padding: 27px 24px 26px 24px
    max-width: 600px
    margin-left: 0
    margin-right: 0
    justify-content: start
    &__book
      &-photo
        margin-right: 14px
        width: 95px
        height: 142px
    &__img
      width: 95px
      height: 142px
    &__card
      margin-bottom: 36px
      margin-left: -10px
  .recomend
    padding-bottom: 54px
    &__more
      font-size: 14px
      margin-bottom: 54px
    &__title
      font-size: 28px
      line-height: 36px
      margin-left: 10px
      margin-bottom: 52px
      &--small
        margin-bottom: 36px
  .index
    margin-bottom: 44px
  .card
    margin-top: 20px
    position: relative
    padding-top: 137px
    flex-direction: column
    align-items: center
    padding-left: 26px
    padding-right: 17px
    padding-bottom: 29px
    margin-bottom: 0
    &__genre
      font-size: 14px
      line-height: 20px
      margin-bottom: 16px
    &__info
      display: flex
      flex-direction: column
      align-items: center
    &__photo
      position: absolute
      top: -26px
      right: 36%
      margin-right: 0
      width: 81px
      height: 139px
    &-title
      font-size: 20px
      line-height: 24px
      margin-bottom: 12px
      margin-top: -5px
      &--small
        font-size: 15px
        line-height: 24px
        margin-top: 5px
        margin-bottom: 14px
        width: 110px
    &-price
      margin-right: 10px
      font-size: 16px
      line-height: 20px
      margin-bottom: 20px
      &--small
        font-size: 20px
        margin-bottom: 16px
    &-button
      padding: 7px 27px
      margin-left: 3px
      margin-right: 10px
      &-group
        max-width: none
      &--small
        padding: 7px 22px
        margin-left: 0
        margin-right: 13px
  .heart
    margin-left: 10px
  .author
    padding-bottom: 34px
    padding-top: 44px
    &-wrapper
      margin-bottom: 35px
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-left: 25px
      margin-bottom: 25px
    &__text
      font-size: 18px
      line-height: 25px
      margin-left: 26px
  .frame
    &-svg
      width: 14px
      height: 10px
    &--main
      height: 210px
      margin-bottom: 18px
      width: 97%
      margin-left: 10px
    &--secondary
      height: 138px
      margin-bottom: 12px

    &-item
      &--first
        margin-left: 10px
      &__title
        text-align: center
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-left: 0
        margin-bottom: 7px
      &__info
        flex-direction: column
        align-items: center
      &__sub
        margin-bottom: 16px
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
        text-align: center
        margin-bottom: 6px
  .work
    padding-top: 32px
    padding-bottom: 38px
    &__img
      margin-bottom: 19px
    &__title
      margin-top: 0
      margin-bottom: 23px
  .slack
    margin-left: 10px
    height: 30px
  .netflix
    height: 24px
    margin-right: 9px
  .google
    height: 30px
    margin-right: 9px
  .fitbit
    margin-left: 18px
    height: 24px
  .airbnb
    margin-left: 17px
    height: 28px
  .uber
    height: 20px
    margin-right: 10px
  .blog
    padding-top: 55px
    padding-bottom: 49px
    &__button
      display: none
      &--mobile
        margin-left: auto
        display: inline-block
        margin-right: auto
        padding: 9px 47px
        margin-top: 6px
        font-size: 14px
    &__title
      font-size: 28px
      line-height: 36px
      margin-left: 10px
      &-wrapper
        justify-content: center
        margin-bottom: 46px
    &-main
      &__img
        width: 280px
        height: 120px
        margin-bottom: 18px
      &__title
        font-size: 16px
        line-height: 20px
        margin-left: 2px
        margin-bottom: 11px
      &__text
        font-size: 12px
        line-height: 24px
        margin-left: 0
    &-secondary
      margin-bottom: 30px
      &__img
        width: 90px
        height: 90px
        margin-top: 9px
        margin-left: 18px
      &__date
        font-size: 10px
        line-height: 20px
        margin-bottom: 7px
        margin-top: 7px
      &__title
        min-width: 181px
        font-size: 14px
        line-height: 20px
        margin-bottom: 5px
      &__link
        font-size: 10px
        line-height: 20px
      &__wrapper
        min-height: 0
      &__item
        margin-bottom: 19px
  .contact
    &-wrapper
      padding-top: 25px
      padding-bottom: 78px
      align-items: start
    &__title
      max-width: 211px
      margin-bottom: 17px
    &__form
      min-width: 273px
      padding-left: 12px
      padding-right: 7px
      padding-bottom: 7px
      padding-top: 2px
      &_item
        flex-wrap: wrap
    &__input
      width: 196px
      margin-left: 15px
      margin-top: -2px
    &__button
      min-height: 45px
    &__icon
      margin-left: 11px
      margin-right: -11px
  .modal
    &__dialog
      max-width: 98%
      padding: 33px
      max-height: 99%
  .modal
    &__info
      margin-top: 0
      margin-bottom: 15px
    &__button
      order: 2
      margin-right: 0
      &-wrapper
        flex-direction: column
  .company
    margin-right: 13px
    margin-top: 36px
  .prodact
    margin-right: 44px
    margin-left: 3px
  .more
    margin-top: 36px
    margin-left: 45px
  .service
    margin-right: 0
  .footer
    padding-top: 0
    &-wrapper
      margin-right: auto
      margin-left: auto
      max-width: 269px
    &__main
      &-item
        margin-top: 45px
        margin-left: 24px
      &-text
        margin-top: 11px
        margin-bottom: 15px
        margin-left: -11px
    &__list
      &-title
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: #183B56
        margin-bottom: 18px
      &-link
        font-size: 14px
        line-height: 20px
      &-item
        margin-bottom: 13px
        &:last-child
          margin-bottom: 0
  .genres
    padding-bottom: 139px
    &-swiper
      &-button
        top: 124%
        &-next
          right: 83px
        &-prev
          left: 93px
    &-slide
      min-height: 182px
      padding-left: 10px
      padding-right: 10px
      &__title
        letter-spacing: -0.3px
        margin-bottom: 12px
        max-width: 112px
        &--special
          margin-bottom: 32px
      &__subtitle
        max-width: 99px
        margin-right: 0
    &__icon
      width: 36px
      height: 36px
      margin-top: 18px
      margin-left: 7px
  .swiper
    &-slide
      &--therd
        order: -1
      &--first
        order: -3
        margin-top: 10px
      &--second
        order: -2
        margin-top: 10px
      &--forth
        order: 0
  .uncommen
    padding-top: 47px
    padding-bottom: 135px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 44px
      margin-left: 11px
    &-swiper
      &-button
        background-size: 48px
        top: 129%
        &-next
          right: 26%
        &-prev
          left: 29.3%
          margin-top: -18px
  .author
    &-frame
      &__item
        height: 210px
  .video
    &-play
      width: 56px
      height: 56px
      left: 44%
      &--secondary
        width: 21px
        height: 27px
        top: 39%
  .erorr
    &-lable
      bottom: 15%
      left: 2%

@media (min-width: 467px) and ( max-width: 576px )
  .blog
    &-secondary
      align-items: flex-start
@media (min-width: 562px) and ( max-width: 578px )
  .best
    &__card
      margin-left: 0
    &__book
      &-photo
        margin-right: 8px
@media (min-width: 330px) and ( max-width: 562px )
  .best
    justify-content: center
    margin-left: auto
    margin-right: auto
    width: 92%
