*
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif

.container
  width: 1140px
  margin-left: auto
  margin-right: auto

.button
  cursor: pointer
  &--primary
    border: 2px solid $primary
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    color: $primary
    background-color: #fff
  &--secondary
    border: 2px solid $primary
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    color: #fff
    background-color: $primary
    padding: 18px 37px
